<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopTY - Dashboard</title>

    <link
      rel="shortcut icon"
      href="./assets/imgs/shopty-dash.png"
      type="image/x-icon"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/css/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--SideMenu-->
    <section id="menu">
      <div class="logo">
        <img src="assets/imgs/logo.jpeg" />
        <h2>Dashboard</h2>
      </div>

      <div class="items">
        <li>
          <i class="fas fa-chart-pie"></i><a href="index.html">Dashboard</a>
        </li>
        <li><i class="fab fa-uikit"></i><a href="index.html">Users</a></li>
        <li>
          <i class="fas fa-th-large"></i><a href="products.html">Products</a>
        </li>
        <li><i class="fas fa-edit"></i><a href="sales.html">Sales</a></li>
        <li>
          <i class="fab fa-cc-visa"></i
          ><a href="add_product.html">Add Product</a>
        </li>
        <li>
          <i class="fas fa-hamburger"></i><a href="contact.html">Contact</a>
        </li>
        <li><i class="fas fa-chart-line"></i><a href="help.html">Help</a></li>
      </div>
    </section>

    <!--Interface-->
    <section id="interface">
      <div class="navigation">
        <!--Search-->
        <div class="n1">
          <div>
            <i id="menu-btn" class="fas fa-bars"></i>
          </div>
          <div class="search">
            <i class="far fa-search"></i>
            <form>
              <input type="text" placeholder="search" />
            </form>
          </div>
        </div>

        <!--Profile-->
        <div class="profile">
          <i class="fas fa-bell"></i>
          <img src="assets/imgs/1.jpeg" />
        </div>
      </div>

      <!--Title-->
      <h3 class="i-name">Update User</h3>

      <div class="container-fluid w-50 my-5">
        <form>
          <div class="mb-2 form-group">
            <label>User Id</label>
            <p class="form-control">4545</p>
          </div>

          <div class="mb-2 form-group">
            <label>Name</label>
            <p class="form-control">John</p>
          </div>

          <div class="mb-2 form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="email"
              name="email"
              id="email"
            />
          </div>

          <div class="mb-2 form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="title"
              name="title"
              id="title"
            />
          </div>

          <div class="mb-2 form-group">
            <label>Role</label>
            <input
              type="text"
              class="form-control"
              placeholder="role"
              name="role"
              id="role"
            />
          </div>

          <select class="form-select mb2" name="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>

          <div class="mb-2 text-center">
            <input
              type="submit"
              class="btn btn-primary mt-3"
              value="Update"
              name="update_user_btn"
              id="update_user_btn"
            />
          </div>
        </form>
      </div>
    </section>

    <script>
      $("#menu-btn").click(function () {
        $("#menu").toggleClass("active");
      });
    </script>
  </body>
</html>
